.add_to_pot-title-container,
.add_to_pot-percent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.add_to_pot-percent-text-green {
    color: var(--green);
}

.add_to_pot-percent-text-grey {
    color: var(--grey-500);
}

.add_to_pot-amount {
    margin: 0px;
}

.add_to_pot-title-container {
    margin-bottom: 10px;
    margin-top: -10px;
}