.overview-container {
    width: 100%;
    padding-bottom: 80px;
}

.overview-content-container {
    width: 90%;
    margin: 0 auto;
    border: 1px solid var(--beige-100);
}

.overview-title {
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 3.2rem;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #0CC162;
}

/* ///////////// stroke colors for bar chart ////////////// */