.overview-container {
    width: 100%;
    margin-bottom: 80px;
    width: 90%;
    margin: 0 auto;
}

.overview-title {
    margin-bottom: 25px;
    margin-top: 25px;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #0CC162;
}

/* ////////////////////// Media Query ////////////////////// */

@media (min-width: 750px) {
    .overview-container {
        width: 88%;
        margin-bottom: 110px;
    }
}