.pot_detail {
    background-color: var(--white);
    padding: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.pot_detail-name {
    margin-top: 0px;
}

.pot_detail-color-circle {
    width: 16px;
    height: 16px;
    border-radius: 100px;
}

.pot_detail-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pot_detail-name-container {
    display: flex;
    align-items: center;
}

.pot_detail-name {
    margin: 0px;
    margin-left: 10px;
    font-size: 2rem;
}

.pot_detail-upper-container {
    margin-bottom: 20px;
    margin-top: 5px;
}

.pot_detail-saved-title {
    font-size: 1.4rem;
    color: var(--grey-500);
}

.pot_detail-amount-saved {
    font-size: 3.2rem;
    font-weight: 600;
}

.pot_detail-percent-saved {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--grey-500);
}

.pot_detail-pot-target {
    font-size: 1.2rem;
    color: var(--grey-500);
}

.pot_detail-btn {
    width: 48%;
    height: 52px;
    color: black;
    background-color: var(--beige-100);
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 25px;
}