.add_budget-amount-container {
    position: relative;
}

.add_budget-input-container {
    display: flex;
    flex-direction: column;
}

.add_budget-title-container {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.add-budget-btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add_budget-title {
    font-size: 2rem;
}