.pots_page-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.pots_page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}

.pots_page-add-pot-btn {
    height: 50px;
    font-size: 1.4rem;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0px 13px 0px 13px;
    background-color: black;
    font-weight: 600;
}

/* //////////////////// Media Query //////////////////////// */

@media (min-width: 750px) {
    .pots_page-container {
        width: 88%;
        margin-bottom: 110px;
    }
}

@media (min-width: 1100px) {
    .pot-detail-elements-container {
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 4%;
    }

    
}