
.budgets_overview-container {
    background-color: var(--white);
    padding: 20px;
    padding-top: 5px;
    border-radius: 10px;
    margin-top: 20px;
}

.budgets_overview-title-container {
    display: flex;
    justify-content: space-between;
}

.budgets_overview-title {
    font-size: 2rem;
}

.budgets_overview-chart-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.budgets_overview-spend-container {
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .4);
    max-width: 185px;
    max-height: 185px;
    min-width: 185px;
    min-height: 185px;
    border-radius: 200px;
    padding: 0px;
    padding-right: 3px;
}

.budgets_overview-total-spend {
    font-size: 3.2rem;
    margin-bottom: 0px;
    font-weight: 600;
    margin: 0px;
}

.budgets_overview-spend-limit {
    font-size: 1.2rem;
    color: var(--grey-500);
    margin-top: 0px;
}

.budgets_overview-categories-container {
    display: flex;
    flex-wrap: wrap;
}

.budgets_overview-category {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.budgets_overview-category-color-line {
    height: 45px;
    width: 4px;
    border-radius: 100px;
    margin-right: 15px;
}

.budgets_overview-category-content-container {
    display: flex;
    flex-direction: column;
}

.budgets_overview-category-name {
    margin-bottom: 0px;
    font-size: 1.2rem;
    color: var(--grey-500);
}

.budgets_overview-category-spend {
    margin-top: 5px;
    font-size: 1.4rem;
    font-weight: 600;
}