:root {
  --beige-500: #98908B;
  --beige-100: #F8F4F0;

  --grey-900: #201F24;
  --grey-500: #696868;
  --grey-300: #B3B3B3;
  --grey-100: #F2F2F2;

  --green: #277C78;
  --yellow: #F2CDAC;
  --cyan: #82C9D7;
  --navy: #626070;
  --red: #C94736;
  --purple: #826CB0;

  --purple-light: #AF81BA;
  --turquoise: #597C7C;
  --brown: #93674F;
  --magenta: #934F6F;
  --blue: #3F82B2;
  --navy-grey: #97A0AC;
  --army-green: #7F9161;
  --gold: #CAB361;
  --orange: #BE6C49;

  --white: #FFFFFF;
  --black: #000000
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

h1 {
  margin: initial;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Public Sans", sans-serif;
  background-color: var(--beige-100);
  color: var(--grey-900);
}

html{
  font-size: 62.5%;
}

@media (prefers-reduced-motion: no-preference) {
html {
      scroll-behavior: smooth;
}
}
/* 
:focus:not(:focus-visible) {
outline: none;
} */

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
cursor: pointer;
}

.app {
  display: flex;
  gap: 40px;
}

.padding-right {
  padding-right: 40px;
}

/* ///////// Show menu styling /////////////// */

.show-menu-btn {
  height: 55px;
  width: 300px;
  bottom: 20px;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--grey-900);
  color: var(--grey-100);
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 20px;
  transition: background-color 350ms;
}

.show-menu-img {
  transform: scale(-1,1);
  width: 20px;
}

.show-menu-text {
  opacity: .8;
}

@media (max-width: 1199px) {
  .show-menu-btn {
    display: none;
  }

  .padding-right {
    padding-right: 0px;
  }
}

/* //////////////// color classes for budget bar chart ////////////////// */

.green {
  stroke: #277C78;
  background-color: #277C78;
}

.yellow {
  stroke: #F2CDAC;
  background-color: #F2CDAC
}

.cyan {
  stroke: #82C9D7;
  background-color: #82C9D7;
}

.navy {
  stroke: #626070;
  background-color: #626070;
}

.red {
  stroke: #C94736;   
  background-color: #C94736;
}

.purple {
  stroke: #826CB0;
  background-color: #826CB0;
}

.turquoise {
  stroke: #597C7C;
  background-color: #597C7C;
}

.magenta {
  stroke: #934F6F;
  background-color: #934F6F;
}

.brown {
  stroke: #93674F;
  background-color: #93674F;
}

.blue {
  stroke: #3F82B2;
  background-color: #3F82B2;
}

.armygreen {
  stroke: #7F9161;
  background-color: #7F9161;
}

.gold {
  stroke: #CAB361;
  background-color: #CAB361;
}

.orange  {
  stroke: #BE6C49;
  background-color: #BE6C49;
}

/* //////////////////////// shared styles ////////////////////// */

.see-details-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.see-details-caret {
  height: 8px;
  margin-left: 12px;
}

.see-details-link {
  white-space: nowrap;
  /* margin-right: 15px; */
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--grey-500);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 350ms;
}

.see-details-link:hover {
  color: var(--grey-900);
}

.detail-ellipsis {
  background-image: url("./assets/icon-ellipsis.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  height: 8px;
  width: 35px;
  border: none;
  background-color: transparent;
  justify-self: end;
  padding: 15px;
  margin-right: -5px;
}

.black-add-btn {
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
    background-color: var(--black);
    font-weight: 600;
    color: var(--white);
    transition: background-color 350ms;
}

.red-delete-btn {
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  background-color: var(--red);
  font-weight: 600;
  color: var(--white);
  transition: opacity 350ms;
}

.rounded-select-input {
  height: 45px;
  font-size: 1.4rem;
  border-radius: 10px;
  border: 1px solid var(--grey-500);
  margin-bottom: 10px;
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("./assets/icon-caret-down.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.rounded-input {
  height: 45px;
  font-size: 1.4rem;
  border-radius: 10px;
  border: 1px solid var(--grey-500);
  margin-bottom: 10px;
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-cover {
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
  position: fixed;
  top:0px;
  width: 100%;
  left: 0px;
  z-index: 100;
}

.date-input{
  padding-right: 10px;
  z-index: 1;
  position: relative;
}

.date-input::-webkit-datetime-edit {
  z-index: 1;
  min-width: fit-content;
}

.date-input::-webkit-calendar-picker-indicator {
  padding-left: 120px;
  padding-left: 90%;
  padding-top: 14px;
  padding-bottom: 14px;
  color: transparent;
  background: none;
  z-index: 1;
}

input[type="date"]:before {
  color: transparent;
  background: none;
  display: block;
  font-family: 'FontAwesome';
  content: '\f073';
  /* This is the calendar icon in FontAwesome */
  width: 15px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 15px;
  color: #999;
}

.close-modal-btn {
  width: 35px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
  border: none;
}

.close-modal-btn-img {
  width: 100%;
}

.add-edit-modal {
  z-index: 150;
  background-color: var(--white);
  position: fixed;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: 92%;
  max-width: 550px;
  top: 20%;
  padding: 15px;
  border-radius: 10px;
}

.add-edit-modal-input-label {
  font-size: 1.2rem;
    font-weight: 600;
    color: var(--grey-500);
    margin-bottom: 3px;
}

.amount-input {
  padding-left: 25px!important;
  width: 100%;
  margin-top: 3px;
}

.dollar-sign {
  position: absolute;
  left: 12px; /* Adjust as needed */
  top: 57.5%;
  margin: 0px;
  transform: translateY(-50%);
  pointer-events: none; /* Prevents the span from capturing clicks */
  font-size: 1.4rem
}

.input-field-wrap {
  box-shadow: none !important;
  padding: 0px !important;
  border: none !important;
}

.ellipsis-dropdown {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  right: 0px; 
  top: 30px;
  border: 1px solid var(--grey-100);
  padding: 5px 18px 5px 18px;
  box-shadow: 2px 1px 12px 4px var(--beige-500);
}

.ellipsis-edit,
.ellipsis-delete {
  font-size: 1.4rem;
  padding: 0px;
  margin: 0px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.ellipsis-delete {
  color: var(--red);
}

.ellipsis-edit:hover,
.ellipsis-delete:hover {
  cursor: pointer;
}


/* //////////////// Add/edit modal styling ////////////////// */

.add-edit-modal-amount-container {
  position: relative;
}

.add-edit-modal-input-container{
  display: flex;
  flex-direction: column;
}

.add-edit-modal-title-container{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.add-edit-modal-btn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-edit-modal-title {
  font-size: 2rem;
}

/* ///////////////////// hover //////////////////////// */

/* .date-input:hover {
  cursor: pointer;
} */

.red-delete-btn:hover {
  opacity: .8;
}

.date-input::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.close-modal-btn:hover {
  cursor: pointer;
}

.black-add-btn:hover {
  background-color: var(--grey-500);
}

.show-menu-btn:hover {
  background-color: var(--grey-500);
}

/* ////////////////// preset text styles ////////////////// */

.text-1 {
  font-size: 3.2rem;
  font-weight: 500;
}

.text-1-bold {
  font-size: 3.2rem;
  font-weight: 600;
}

.text-2 {
  font-size: 2rem;
  font-weight: 500;
}

.text-2-bold {
  font-size: 2rem;
  font-weight: 600;
}

.text-3 {
  font-size: 1.6rem;
  font-weight: 500;
}

.text-3-bold {
  font-size: 1.6rem;
  font-weight: 600;
}

.text-4 {
  font-size: 1.4rem;
  font-weight: 500;
}

.text-4-bold {
  font-size: 1.4rem;
  font-weight: 600;
}

.text-5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.text-5-bold {
  font-size: 1.2rem;
  font-weight: 600;
}

.text-1-grey {
  color: var(--grey-500);
  font-size: 3.2rem;
  font-weight: 500;
}

.text-1-bold-grey {
  color: var(--grey-500);
  font-size: 3.2rem;
  font-weight: 600;
}

.text-2-grey {
  color: var(--grey-500);
  font-size: 2rem;
  font-weight: 500;
}

.text-2-bold-grey {
  color: var(--grey-500);
  font-size: 2rem;
  font-weight: 600;
}


.text-3-grey {
  color: var(--grey-500);
  font-size: 1.6rem;
  font-weight: 500;
}

.text-3-bold-grey {
  color: var(--grey-500);
  font-size: 1.6rem;
  font-weight: 600;
}

.text-4-grey {
  color: var(--grey-500);
  font-size: 1.4rem;
  font-weight: 500;
}

.text-4-bold-grey {
  color: var(--grey-500);
  font-size: 1.4rem;
  font-weight: 600;
}

.text-5-grey {
  color: var(--grey-500);
  font-size: 1.2rem;
  font-weight: 500;
}

.text-5-bold-grey {
  color: var(--grey-500);
  font-size: 1.2rem;
  font-weight: 600;
}