
.sign_in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.sign_in-header {
    height: 70px;
    width: 100%;
    top: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-900);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sign_in-header-logo {
    width: 120px;
}

.sign_in-authenticator-container {
    margin-top: 140px;
    margin-bottom: 90px;
    width: 100%;
}

.sign_in-img-container {
    display: none;
}

[data-amplify-authenticator] {
    --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--amplify-colors-overlay-10);
    --amplify-components-authenticator-router-border-width: 0;
    --amplify-components-authenticator-form-padding: var(--amplify-space-large) var(--amplify-space-xl) var(--amplify-space-xxl);
    --amplify-components-button-primary-background-color: var(--amplify-colors-neutral-100);
    --amplify-components-button-primary-hover-background-color: var(--green);
    --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 1px var(--amplify-colors-neutral-60);
    --amplify-components-tabs-item-active-border-color: var(--amplify-colors-neutral-100);
    --amplify-components-tabs-item-color: var(--amplify-colors-neutral-80);
    --amplify-components-tabs-item-active-color: var(--amplify-colors-neutral-100);
    --amplify-components-tabs-item-hover-color: var(--green);
    --amplify-components-button-link-color: var(--amplify-colors-neutral-80);
    --amplify-components-button-link-hover-background-color: none;
    --amplify-components-button-link-hover-color: var(--amplify-colors-neutral-120);
    --amplify-components-field-font-size: 1.6rem;
    --amplify-components-tabs-item-font-size: 1.6rem;
    --amplify-components-button-font-size: 1.6rem;
    --amplify-components-input-font-size: 1.6rem;
}

/* //////////////////////// Media query //////////////////////// */

@media (min-width: 1200px) {
    .sign_in-header {
        display: none;
    }

    .sign_in-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 100%;
        padding: 30px;
    }

    .sign_in-authenticator-container {
        grid-column: 2;
        grid-row: 1;
    }

    .sign_in-img-container {
        grid-row: 1;
        display: block;
        grid-column: 1;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    .sign_in-img {
        height: 100%;
        width: fit-content;
        border-radius: 10px;
    }

    .sign_in-img-title {
        position: absolute;
        color: var(--white);
        width: 450px;
        left: 40px;
        bottom: 120px;
        line-height: 35px;
    }

    .sign_in-img-subtitle {
        color: var(--white);
        position: absolute;
        bottom: 30px;
        width: 450px;
        left: 40px;
    }
}